.main-back {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  padding: 80px 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: @background2;
  background: linear-gradient(135deg, @background1 0%, @background2 50%, @background3 100%);
}

.calc-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Gilroy';
  color: white;
  @media @m {
    width: 90%;
  }

  > div.text {
    position: relative;
    margin-bottom: 54px;

    img {
      position: absolute;
      left: 0;
      transform: translateX(-95px);
      @media @l {
        display: none;
      }
    }

    p {
      font-size: 22px;
      line-height: 1.2;
      @media @s {
        font-size: 20px;
      }
      @media @xs {
        font-size: 4vw;
      }

      &.title {
        margin-bottom: 16px;
        font-size: 32px;
        font-weight: bold;
        @media @s {
          font-size: 27px;
        }
        @media @xs {
          font-size: 5vw;
        }
      }
    }
  }

  .calc {
    position: relative;
    display: flex;
    padding: 50px;
    width: 960px;
    height: 460px;
    max-width: 100%;
    flex-direction: column;
    justify-content: space-between;
    background-color: #322f3c;
    border-radius: 3px;
    box-shadow: 0px 2px 10px rgba(0, 1, 0, 0.2);
    @media @s {
      padding: 40px;
    }
    @media @xs {
      padding: 20px;
    }
    @media @xxs {
      padding: 10px;
    }

    .title {
      font-size: 24px;
      font-weight: bold;
    }

    .content {
      padding-top: 30px;
      .poll {
        .item {
          display: none;
          height: 64px;
          align-items: center;
          justify-content: space-between;

          &.active {
            display: flex;
          }

          p {
            display: inline-block;
            font-size: 22px;
            line-height: 1.2;
          }

          input {
            padding: 0 20px;
            width: 460px;
            height: 64px;
            font-size: 22px;
            text-align: right;
            font-family: 'Gilroy';
            border: none;
            border-radius: 3px;
            outline: none;
            color: #333333;

            &::placeholder {
              color: #999999;
            }
          }
        }

        .bar {
          display: flex;
          margin: 15px 0;
          justify-content: flex-end;

          & > div {
            position: relative;
            width: 460px;
            height: 10px;
            border-radius: 3px;
            background-color: #464550;

            & > div {
              position: absolute;
              background-color: #689afb;
              height: 100%;
              width: 0;
              border-radius: 3px;
              box-shadow: #558ad277 0 0 15px;
              transition: all .1s ease-in-out;
            }
          }
        }

        & > p {
          text-align: right;
          font-size: 18px;
          font-weight: 300;

          &.flash {
            animation: flash .7s ease-in-out 2 forwards;
          }
        }

        .buttons {
          display: flex;
          margin-top: 55px;
          justify-content: space-between;

          div {
            &:hover {
              opacity: .8;
            }

            &.help {
              background-color: #535353;

              &:active {
                background-color: lighten(#535353, 10%);
              }
            }

            &.next {
              padding: 20px 20px 20px 65px;
              background-color: @calc-blue;
              box-shadow: #558ad277 0 0 15px;

              &:active {
                background-color: lighten(@calc-blue, 10%);
              }

              &.disabled {
                background-color: gray;
                box-shadow: darkgray 0 0 15px;
              }

              img {
                margin-left: 65px;
              }
            }
          }
        }
      }
    }

    .result {
      & > div {
        display: none;
        flex-direction: column;

        &.active {
          display: flex;
        }

        p {
          display: inline-block;
          font-size: 22px;
          line-height: 1.2;

          &:not(:last-of-type) {
            margin-bottom: 38px;
          }

          span {
            color: #98c4ff;
            font-weight: bold;
          }
        }

        .reset {
          position: absolute;
          bottom: 50px;
          right: 50px;
          background-color: @calc-blue;
          box-shadow: #558ad277 0 0 15px;

          &:active {
            background-color: lighten(@calc-blue, 10%);
          }
        }
      }
    }

    .button {
      cursor: pointer;
      user-select: none;
      padding: 20px 45px;
      font-size: 22px;
      border-radius: 3px;
      transition: all 0.15s ease-in-out;
    }

    .modal {
      position: absolute;
      display: none;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      align-items: center;
      justify-content: center;
      background-color: #0000008c;

      &.show {
        display: flex;
      }

      & > div {
        position: relative;
        width: 500px;
        max-width: 90%;
        font-size: 22px;
        text-align: center;
        background-color: @calc-blue;

        img {
          cursor: pointer;
          position: absolute;
          top: 13px;
          right: 13px;
        }

        .text {
          padding: 50px 60px;
        }
      }
    }
  }
}

::selection {
  background: #66666666;
}

@keyframes flash {
  50% {
    color: #ec695f;
  }
  100% {
    color: inherit;
  }
}